page-personal-password {
  font-size: 16px;
  .ion-back{
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .ads{
    font-size: 1.15em;
    text-align: center;
    font-weight: 600;
  }
  .item-ios{
    padding: 0;
  }
  .text-input-ios{
    padding-left: 15px;
    margin:8px 8px 8px 0;
  }
  .ion-app.ios [margin]{
    margin: 0 16px;
  }

}
