page-add-new-address {
  .backBtn {
    color: white;
    background-color: transparent;
    position: absolute;
    left: 0;
    width: 3em;
    text-align: left;
    padding-left: 0.5em;
    z-index: 10;
  }
  .title {
    color: white;
    font-weight: 700;
    font-size: 1.4em;
    margin: 0.5em 0;
  }
  .left {
    font-size: 1.1em;
    height: 3.5em;
    line-height: 3.5em;
  }
  .right{
    height: 3.5em;
    width: 100%;
    color: #999;
    border: none;
    font-size: 1.1em;
  }
  ._border-bottom{
    border-bottom:  1px solid #f5f5f5;
  }
  .sex{
    font-size: 1.1em;
    height: 3.5em;
    line-height: 3.5em;
    margin-right:1em;
  }
  .sex ion-icon{
    color: #4cd964;
    margin-right: 0.5em;
    font-size: 1.5em;
  }
}
