<!--
  Generated template for the PayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-grid no-padding style="background-color:rgb(55, 199, 183);">
    <ion-row style="background-color:#00a8ff;">
      <button (click)="disMiss()" class="backBtn">
        <h6 style="margin: 0.5em 0;font-size: 1.5em;">
          <ion-icon name="ios-arrow-back"></ion-icon>
        </h6>
      </button>
      <ion-col col-12 style=" text-align:center;">
        <h6 class="title">确认订单</h6>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content no-padding style="background-color: #f5f5f5">
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12 class="position_container">
        <div class="infocontainer">
          <img src="../../assets/img/position.png" class="addressImg">
          <div *ngIf="address?.length>=1">
            <header >
              <span class="orderName">{{address[0]?.name}}</span>
              <span class="sex" *ngIf="address[0]?.sex==1">先生</span>
              <span class="sex" *ngIf="address[0]?.sex==0">小姐</span>
              <span class="telphone">{{address[0]?.phone}}</span>
            </header>
            <div class="address">
              <span class="addressTag" [style.background-color]="'#0d81ff'">{{address[0]?.tag}}</span>
              <span style="color: #777;">{{address[0]?.address_detail}}</span>
            </div>
          </div>
        </div>
        <ion-icon name="ios-arrow-forward-outline"></ion-icon>
      </ion-col>
      <ion-col col-12 class="deliver_time comment">
        <span style="font-size: 1.5em;font-weight: 700">送达时间</span>
        <div style="text-align: right">
          <p style="padding: 0;margin: 0;color: #3190e8">
            <span>尽快送达</span>
            <span>|</span>
            <span>预计{{result?.delivery_reach_time}}</span>
          </p>
          <span class="deliver_type ">蜂鸟专送</span>
        </div>
      </ion-col>
      <ion-col col-12 class="payType">
        <p class="comment" (click)="selPay('in')">
          <span>支付方式</span><span style="color:#aaa;">在线支付 <ion-icon name="ios-arrow-forward-outline"></ion-icon> </span>
        </p>
        <p class="comment hongbao">
          <span>红包</span> <span>暂时只再饿了么APP中支持</span>
        </p>
      </ion-col>
      <ion-col col-12 class="cartContainer">
        <header class="cart_shop">
          <img src="http://cangdu.org:8001/img/{{result?.cart?.restaurant_info?.image_path}}">
          <span style="font-size: 1.5em;">{{result?.cart?.restaurant_info?.name}}</span>
        </header>

        <p class="cartDetail" *ngFor="let group of result?.cart?.groups[0]">
          <span>{{group?.name}}</span><span><span>x{{group?.quantity}}</span><span>￥{{group?.price}}</span></span>
        </p>

        <p class="cartDetail" *ngFor="let extra of result?.cart?.extra">
          <span>{{extra?.name}}</span><span><span></span><span>￥{{extra?.price}}</span></span>
        </p>

        <p class="cartDetail state"><span>待支付</span><span><span></span><span>总计￥{{result?.cart?.total}}</span></span></p>
      </ion-col>
      <ion-col col-12 class="payType" style="margin-bottom: 5em;">
        <p class="comment">
          <span>订单备注</span><span style="color:#aaa;">口味偏好等 <ion-icon name="ios-arrow-forward-outline"></ion-icon> </span>
        </p>
        <p class="comment hongbao" (click)="presentActionSheet()">
          <span>发票抬头</span> <span>{{fapiao}} <ion-icon name="ios-arrow-forward-outline"></ion-icon></span>
        </p>
      </ion-col>
      <ion-row class="submit">
        <ion-col col-8 style="background-color: #3c3c3c;padding-left: 2em;">
          <span>待支付￥{{result?.cart?.total}}</span>
        </ion-col>
        <ion-col col-4 style="background-color: #56d176;text-align: center;">
          <span>确认下单</span>
        </ion-col>
      </ion-row>
    </ion-row>
  </ion-grid>
</ion-content>


  <div class="_payTypeContainer" [@background]="selPayType" (click)="selPay('out')"></div>
  <div class="payTypeSel" [@container]="selPayType">
    <header>支付方式</header>
    <p class="type check" (click)="selPay('out')"><span>在线支付</span> <ion-icon name="md-checkmark-circle"></ion-icon></p>
    <p class="type" (click)="selPay('out')"><span>货到付款（商家不支持货到付款）</span><ion-icon name="md-checkmark-circle"></ion-icon></p>
  </div>

