<!--
  Generated template for the RegistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>regist</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

      <form name="dataForm" novalidate="novalidate" ng-submit="save(dataForm);">
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">原密码</span>
            <input type="password" ng-model="data.password" required placeholder="请输入原密码">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">新密码</span>
            <input type="password" ng-model="data.newPassword" required placeholder="密码为英文和数字组成">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">确认密码</span>
            <input type="password" ng-model="data.confirmPassword" required placeholder="请确认登录密码">
          </label>
          <label class="item">
            <button class="button button-block button-positive" type="submit" ng-disabled="dataForm.$invalid">确认修改</button>
          </label>
        </div>
      </form>

</ion-content>
