page-personal-adddetailaddress {
  font-size: 16px;
  .ion-back{
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .ads{
    font-size: 1.2em;
    text-align: center;
    font-weight: 600;
  }

  .search {
    width: 100%;
    font-size:.9em;
    font-weight: 600;
    padding-left: 5px;
    background-color: #f7f7f7;
    margin: 7px;
    border-radius: 3px;
    border: 1px solid #d2d2d2;
    height: 40px
  }
  .item-ada{
    border: 1px solid #ddd;
    font-size: .9em;
    color: #969696;
    padding:5px;
  }
  .qures{
    background: #fff6e4;
    font-size: .9em;
    color: #ff883f;
    text-align: center;
    padding: .2rem 0;
  }
  .close_icon{
    position: absolute;
    right:1em;
    top:50%;
    transform: translateY(-50%);
  }

  .cantfind{
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: #969696;
    margin-top: 40%;

  }
}
