page-indetails {
  .imag{
    height: 100px;
    padding-left: 20px ;

  }
  .border{
    border-bottom: solid 1px #c6c8cb;
  }
  .cha{
    color: red;
  }
  #intitle{
    //background-color: pink;
    text-align: right;
    color: white;
    font-size: 1.5em;
  }

}
