page-personal-addadres {
  font-size: 16px;
  .ion-back{
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .ads{
    font-size: 1.2em;
    text-align: center;
    font-weight: 600;
  }
  .inputa{
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius:3px;
    background-color: #f2f2f2;
    font-size: .92em;
  }
  .add-margin{
    margin: 0 5px;

  }
}
