<!--
  Generated template for the ShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="overflow: hidden;border-bottom: solid 2px #d3d3d3">
  <!-----------------------//设置这里的height------------------------>
  <div class="headers">
    <img src="{{_img}}{{restaurantData?.image_path}}" class="backImg">
    <ion-grid class="headersInner">
      <ion-row>
        <ion-col col="12">
          <button (click)="disMiss()" style="font-size: 20px;background-color: transparent;color: white">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <img src="{{_img}}15e386ec1875697.jpeg" class="headerImg">
        </ion-col>
        <ion-col col-9 style="color: white">
          <h4><strong>{{restaurantData?.name}}</strong></h4>
          <p> 商家配送/分钟必达/{{restaurantData?.piecewise_agent_fee?.tips}}</p>
          <p><span>公告：</span><span>{{restaurantData?.promotion_info}}</span></p>
        </ion-col>
      </ion-row>
      <ion-row class="activities">
        <ion-col col-10>
          <span class="activitiesType">{{restaurantData?.activities[0]?.icon_name}}</span>
          {{restaurantData?.activities[0]?.description}}
        </ion-col>
        <ion-col col-2>
          {{restaurantData?.activities.length||0}}个活动
          <ion-icon name="md-arrow-dropright"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-icon style="position: absolute; font-size:2em ; right: 1em;top: 50%;transform: translateY(-50%)" name="ios-arrow-forward-outline"></ion-icon>
    </ion-grid>
  </div>
  <ion-segment [(ngModel)]="type">
    <ion-segment-button value="1">
      <span [class.myActivated]="type==1">商品</span>
    </ion-segment-button>
    <ion-segment-button value="2">
      <span [class.myActivated]="type==2">评价</span>
    </ion-segment-button>
    <ion-segment-button value="3">
      <span [class.myActivated]="type==3">店铺</span>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content style="background-color: #f8f8f8;overflow: hidden">
  <div class="contents">
    <div [ngSwitch]="type" style="height: 100%">
      <div *ngSwitchCase="1" style="height: 100%">
        <ion-grid no-padding style="background-color: #f8f8f8;height: 100%">
          <ion-row no-padding style="height: 100%">
            <ion-col col-3 no-padding class="left_col">
              <ion-scroll scrollY="true" style="height: 100%" #leftList>
                <ion-list>
                  <ion-item no-lines
                            [class.left_item_active]="left_item_active==i"
                            *ngFor="let leftItem of foodData;let i=index"
                            (click)="clickLeft(i,$event)">

                    <h3>{{leftItem?.name}}</h3>
                  </ion-item>
                </ion-list>
              </ion-scroll>
            </ion-col>
            <ion-col col-9 no-padding class="right_col">
              <ion-scroll scrollY="true" style="height: 100%" #rightList>
                <ion-list>
                  <div *ngFor="let rightitem of foodData;let j=index">
                    <div class="right_col_menu">
                      {{rightitem?.name}}
                      <span style="color:#777777; font-size: 0.5em;">{{rightitem?.description}} </span>
                    </div>
                    <ion-item class="right_col_item"
                              [class.zhaopai]="foodItem?.attributes.length>0"
                              *ngFor="let foodItem of rightitem.foods;let k=index">
                      <ion-grid no-padding>
                        <ion-row no-padding>
                          <ion-col col-3 no-padding>
                            <img src="http://cangdu.org:8001/img/{{foodItem?.image_path}}" class="item_img">
                          </ion-col>
                          <ion-col col-9 no-padding>
                            <h2><strong>{{foodItem?.name}}</strong></h2>
                            <p class="right_col_item_disc">{{foodItem?.description}}</p>
                            <p class="right_col_item_comment">
                              月售{{foodItem?.satisfy_count}}份，好评率{{foodItem?.satisfy_rate}}%</p>
                            <a class="right_col_item_activated"
                               *ngIf="foodItem?.activity"
                               [style.color]="'#'+foodItem?.activity?.image_text_color">
                              {{foodItem?.activity?.image_text}}
                            </a>
                            <div class="right_col_item_add">
                              <span class="price_icon">￥</span>
                              <span class="right_col_item_price">{{foodItem?.specfoods[0]?.price}}</span>
                              <span style="font-size: 0.5em;color: #777777;"
                                    *ngIf="foodItem?.specfoods.length>1">起</span>
                              <div class="right_col_item_addicon">
                                <a>
                                  <ion-icon name="ios-remove-circle-outline"
                                            id="subIcon"
                                            *ngIf="foodItem?.selectCount>0"
                                            (click)="cart_sub(foodItem?.specfoods[0],j,k)">
                                  </ion-icon>
                                  <a class="item_count" *ngIf="foodItem?.selectCount>0">{{foodItem?.selectCount}}</a>
                                  <ion-icon name="ios-add-circle"
                                            id="addIcon"
                                            (click)="cart_add($event,foodItem?.specfoods[0],j,k)"
                                            *ngIf="foodItem?.specfoods.length==1"></ion-icon>
                                  <span class="guige"
                                        *ngIf="foodItem?.specfoods.length>1"
                                        (click)="specCaerAdd(foodItem?.specfoods,j,k,foodItem?.specifications)">选规格 </span>
                                </a>
                              </div>
                            </div>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-item>
                  </div>
                </ion-list>
              </ion-scroll>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div *ngSwitchCase="2" style="height: 100%;">
        <ion-scroll scrollY="true" style="height: 100%;background-color: red;">
        </ion-scroll>
      </div>
    </div>
  </div>
  <div class="fly_ball_out" [@bally]="'t'" [style.bottom]="ball.y" *ngFor="let ball of ballList">
    <ion-icon name="ios-add-circle"
              class="fly_ball" [style.left]="ball.x" [@ballx]="'t'" (@ballx.done)="cart_animation($event)">
    </ion-icon>
  </div>
  <!------------------------------我的购物车------------------------------>
  <div class="mypopover" (click)="showCart()" *ngIf="showCartShow && cart_Count>0">
    <ion-list class="mypopover_list" no-margin (click)="$event.stopPropagation()">
      <ion-item no-lines no-border style="background-color: #eceff1">
        购物车
        <div style="float: right;text-align: right">
          <ion-icon name="ios-trash" style="color: #777777;" (click)="clearCart()">
            <span style="font-size: 0.7em;">清空</span>
          </ion-icon>
        </div>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row *ngFor="let cartItem of cartData;let i =index">
            <ion-col col-7>
              {{cartItem?.name}}
              <p *ngIf="cartItem?.specs[0]?.value">{{cartItem?.specs[0]?.value}}</p>
            </ion-col>
            <ion-col col-2>
              <span class="price_icon">￥</span>
              <span class="right_col_item_price">{{cartItem?.price}}</span>
            </ion-col>
            <ion-col col-3 class="right_col_item_addicon">
              <ion-icon name="ios-remove-circle-outline" (click)="cart_sub2(i,cartItem.j,cartItem.k)">
              </ion-icon>
              <a class="item_count">{{cartItem?.quantity}}</a>
              <ion-icon name="ios-add-circle" (click)="cart_add2(i,cartItem.j,cartItem.k)"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
  <!------------------------------我的购物车------------------------------>
</ion-content>
<ion-footer>
  <ion-grid no-padding>
    <ion-row style="background-color: #505051">
      <ion-col col-3 (click)="showCart()">
        <div #cart_position class="cart_container"
             [class.getsomething]="cart_Count>0"
             [class.nothing]="cart_Count==0"
             [class.cart_animation]="flag==true">
          <div class="getsomething_after" *ngIf="cart_Count>0">
            {{cart_Count}}
          </div>
        </div>
      </ion-col>
      <ion-col col-6 style="background-color: #505051;">
        <h4 style="color: white;font-size: 1.2em; margin: 0;font-weight: 700">￥{{sumPrice.toFixed(2)}}</h4>
        <span style="color: white;font-size: 0.9em;">配送费￥{{sumPrice.toFixed(2)}}</span>
      </ion-col>
      <ion-col col-3>
        <button full ion-button no-margin style="height: 100%">
          ￥20起送
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>


<!------------------------------多规格商品加入购物车--------------------------->
<div class="madol_container" *ngIf="madolData.flag&&type==1" (click)="closeMadol();$event.stopPropagation()">
  <div class="main_container" (click)="$event.stopPropagation()">
    <header>
      <h4 class="ellipsis">{{madolData?.data[0]?.name}}</h4>
      <ion-icon name="ios-close" class="_icon" (click)="closeMadol()"></ion-icon>
    </header>
    <div class="btn_container">
      <h5>{{madolData.data[0].specs[0].name}}</h5>
      <button
        *ngFor="let item of madolData?.data;let i =index"
        [class.btn_actived]="specSelectIndex==i"
        [class.btn]="specSelectIndex!=i"
        (click)="selectMadolCart(i)">
        {{item?.specs[0]?.value}}
      </button>
    </div>
    <footer class="myfooter">
      <span class="right_col_item_price price"><span class="price_icon">￥</span>{{madolPrice}}</span>
      <button ion-button class="modal_btn" (click)="spec_cart_add2()">
        加入购物车
      </button>
    </footer>
  </div>
</div>
<!------------------------------多规格商品加入购物车--------------------------->

<!----------------------------------加载动画--------------------------->
<div class="loading" *ngIf="loading">
  <div class="loading_container">
    <div #loading_img class="loading_img">

    </div>
    <svg class="load_ellipse" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <ellipse cx="26" cy="10" rx="26" ry="10" style="fill:#ddd;stroke:none;"></ellipse>
    </svg>
  </div>
</div>
<!----------------------------------加载动画--------------------------->

