<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="background-color: #2c9aea;">
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <button (click)="disMiss()" style="font-size: 20px;background-color: transparent;color: white">
          <ion-icon name="ios-arrow-back"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-4 id="shoptitle">商家详情</ion-col>
      <ion-col col-4></ion-col>
      <!--</ion-navbar>-->
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>

  <div class="border">
    <ion-item-group>
      <ion-item-divider color="light"></ion-item-divider>
      <ion-item>
        <h2>活动与属性</h2>
      </ion-item>
    </ion-item-group>
  </div>


  <ion-list no-lines>
    <ion-item class="activities1" *ngFor="let items of item?.activities;let i=index">
      <span class="icon_name" style="float: left" [style.backgroundColor]="'#'+items?.icon_color">{{items?.icon_name}}</span>
      <p class="description" style="float: left;margin-left: 6px">{{items?.description}}(APP专享)</p>
    </ion-item>
    <ion-item class="activities1" *ngFor="let items of item?.supports;let i=index">
      <span class="icon_name" style="float: left" [style.backgroundColor]="'#'+items?.icon_color">{{items?.icon_name}}</span>
      <p class="description" style="float: left;margin-left: 6px" >{{items?.description}}(APP专享)</p>
    </ion-item>
  </ion-list>
  <div class="border">
    <ion-item-group>
      <ion-item-divider color="light"></ion-item-divider>
      <ion-item>
        <span>食品监督安全公示</span>
        <button style="font-size: 20px;background-color: transparent;color: black" class="lll" (click)="goo()">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-item>
    </ion-item-group>
  </div>

  <ion-item no-lines>
    <ion-thumbnail item-start>
      <img src="../../assets/img/cart_nothing.png">
    </ion-thumbnail>
    <ion-list no-lines padding-left="20px">
      <ion-item>监督检查结果：<span style="color: red">差</span></ion-item>
      <ion-item>检查日期：</ion-item>
    </ion-list>
  </ion-item>


  <div class="border">
    <ion-item-group>
      <ion-item-divider color="light"></ion-item-divider>
      <ion-item>
        <h2>商家信息</h2>
      </ion-item>
    </ion-item-group>
  </div>

  <ion-item>
    <ion-list no-lines>
      <ion-item><p>效果演示</p></ion-item>
      <ion-item><p>地址：<span>{{item?.address}}</span></p></ion-item>
      <ion-item><p>营业时间：<span>[{{item?.opening_hours}}]</span></p></ion-item>
      <ion-item>
        <p><span>营业执照</span>
          <button style="font-size: 20px;background-color: transparent;color: #c1c1c1" class="lll">
            <ion-icon name="arrow-forward" (click)=" showAlert() "></ion-icon>
          </button>
        </p>
      </ion-item>

      <ion-item>
        <p><span>餐饮服务许可证</span>
          <button style="font-size: 20px;background-color: transparent;color: #c1c1c1" class="lll">
            <ion-icon name="arrow-forward" (click)=" showAlert() "></ion-icon>
          </button>
        </p>
      </ion-item>
    </ion-list>
  </ion-item>

</ion-content>
